
---------------------------------------------
{% for item in motd_info %}
{% for key, value in item.items() %}
{{ key }}{{ value }}
{% endfor %}
{% endfor %}
---------------------------------------------
